<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477290681407-45jl8t89bco8cbll5rj9i7oeo99bcfdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477290681407-45jl8t89bco8cbll5rj9i7oeo99bcfdq</string>
	<key>API_KEY</key>
	<string>AIzaSyB3SaJzc8H1IxSuNlvb19qQgn1dKtA3GzU</string>
	<key>GCM_SENDER_ID</key>
	<string>477290681407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>factualproject</string>
	<key>PROJECT_ID</key>
	<string>factual-project</string>
	<key>STORAGE_BUCKET</key>
	<string>factual-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477290681407:ios:4b509c29059acf2341d48a</string>
	<key>DATABASE_URL</key>
	<string>https://factual-project.firebaseio.com</string>
</dict>
</plist>